<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\asm\bin\smallMenuGfx.bin"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\asm\bin\oldFont.bin"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\rom\power_2009trans.gba"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\asm\bin\DShotGfx.bin"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\asm\bin\DCardFont.bin"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\asm\bin\smallFont.bin"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\Temp\battleGfx.bin"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\asm\bin\battleFont.bin"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\asm\bin\bigFont.bin"/>
  <property key="recentFile" value="E:\Stuff\Telefang-2-English-Translation-Project\asm\bin\GFX\128.bin"/>
</settings>
